* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;

}

/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Larg */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --sec-color: #191919;
    --main-transition-duration: .5s;
    --main-transition: .5s 0s ease;
    --main-containers-padding: 100px 0;
}

.center {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
} 

.transition {
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.center-relative {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.left-center-relative {
    position: relative;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}

.left-center-absolute {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
}


/* start component */

.main-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.main-head h2 {
    position: relative;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-head h2::before {
    content: "";
    position: absolute;
    top: 150%;
    left: 15%;
    width: 70%;
    height: 2px;
    background-color: #000;
}

.main-head h2::after {
    content: "";
    position: absolute;
    top: 138%;
    left: 47%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    border: 2px solid #000;
}

.main-head p {
    color: #777;
    width: 500px;
    text-align: center;
    line-height: 2;
    max-width: 90%;
    font-size: 18px;
}

/* start component */

